[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-login = "*"
pillow = "*"
gtts = "*"
pypdf2 = "*"
pdfplumber = "*"
django = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
